.bg-light{
    background-color: #F8F9FA;
}

.bg-light1{
    background-color:#d5dee3;
}

.bg-light2{
    background-color:#c5cdd1;
}

.bg-footer{
    background-color:#737678;
}

tr:hover{
    background-color: #b3aa0c;
    color: white;
}